#root {
  max-width: 1450px;
  margin: 0 auto;
  padding: 1.5rem;
  text-align: center;
  display:flex;
  flex-direction: column;
  gap:20px;
}

#root:first-child {
  margin-top: auto;
}

@keyframes wave {
  0% {
    transform: rotate(0deg);
  }
  15% {
    transform: rotate(15deg);
  }
  30% {
    transform: rotate(-10deg);
  }
  45% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-5deg);
  }
  75% {
    transform: rotate(5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.interactive-emoji {
  display: inline-block;
  transition: transform 0.3s ease;
}

.interactive-emoji:hover {
  animation: wave 0.5s;
}


