.skills {
  padding: var(--padding);
  background: #23272f;
  color: #f9f9f9;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.skill-logo {
  width: 60px;
  height: 60px;
}

.skills h2 {
  margin-bottom: 10px;
  color: #f9f9f9;
}

.skills ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.skills li {
  line-height: 1.6;
  color: #ddd;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.skills li:hover::after {
  content: attr(title);
  position: absolute;
  bottom: 100%;
  left: 50%;
  margin-bottom: 10px;
  transform: translateX(-50%);
  background-color: #111111;
  color: #fff;
  padding: 10px 10px;
  border-radius: 4px;
  white-space: nowrap;
  box-shadow: var(--box-shadow);
  opacity: 1;
  visibility: visible;
  transition: opacity 0.2s ease-in-out;
  z-index: 10; /* Ensure the tooltip is above other elements */
}

.skills li:hover::before {
  content: '';
  position: absolute;
  bottom: 90%; /* Slightly overlaps the tooltip box */
  left: 50%;
  transform: translateX(-50%);
  border-width: 10px; /* Adjust for triangle size */
  border-style: solid;
  border-color: #5a5a5a transparent transparent transparent;  /* Creates the triangle */
  z-index: 9; /* Below the tooltip text but above other elements */
}


